// variables

// colors
$color-white: #FFF;
$color-black: #000;

$color-grey-light-1: #F2F2F2;
$color-grey-light-2: #DDDDDD;
$color-grey-light-3: #e2e2e2;
$color-grey: #888888;
$color-grey-dark: #535353;

$color-green: #45DB81;
$color-purple: #B585F2;

// size
$max-width: 480px;
$max-height: 600px;